name: Teste e Relatorio de cobertura

on:
  pull_request:

jobs:
  teste:
    environment: homologation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '19'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.4.2
        with:
          gradle-version: 7.6.1
      - name: Run Coverage
        run: |
          chmod +x gradlew
          ./gradlew jacocoTestReport

      - name: Setup .NET Core # Required to execute ReportGenerator
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.x
          dotnet-quality: 'ga'

      - name: ReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.1.19
        with:
          reports: ${{ github.workspace }}/build/jacoco.xml
          targetdir: 'coveragereport' # REQUIRED # The directory where the generated report should be saved.
          reporttypes: 'MarkdownSummaryGithub;Badges;HtmlInline' # The output formats and scope (separated by semicolon) Values: Badges, Clover, Cobertura, CsvSummary, Html, Html_Dark, Html_Light, Html_BlueRed, HtmlChart, HtmlInline, HtmlInline_AzurePipelines, HtmlInline_AzurePipelines_Dark, HtmlInline_AzurePipelines_Light, HtmlSummary, JsonSummary, Latex, LatexSummary, lcov, MarkdownSummary, MarkdownSummaryGithub, MarkdownDeltaSummary, MHtml, PngChart, SonarQube, TeamCitySummary, TextSummary, TextDeltaSummary, Xml, XmlSummary
          verbosity: 'Warning' # The verbosity level of the log messages. Values: Verbose, Info, Warning, Error, Off
          toolpath: 'reportgeneratortool' # Default directory for installing the dotnet tool.

      # Publish Coverage Job Summary  # Optional
      - name: Add Coverage Job Summary
        run: cat coveragereport/SummaryGithub.md > $GITHUB_STEP_SUMMARY

      # uploads the coverage-report.md artifact  # Optional

      - name: Upload html
        uses: actions/upload-artifact@v3.1.2
        with:
          name: report.index
          path: coveragereport/index.html
          retention-days: 50

      - name: Upload Badage
        uses: actions/upload-artifact@v3.1.2
        with:
          name: badge-line-coverage.svg
          path: coveragereport/badge_shieldsio_linecoverage_green.svg
          retention-days: 50
